<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spring Boot Thymeleaf Hello World Example</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>
<body>
<p>Test</p>
<table>
    <thead>
    <tr>
        <th>Symptom</th>
        <th>Nutrient</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="symptom : ${symptoms}">
        <td th:text="${symptom.Symptom}"></td>
        <td th:text="${symptom.Nutrient}"></td>
    </tr>
    </tbody>
    <div id="contents"></div>
</table>
</body>
<script
        src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js">
</script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js">
</script>
</html>